body{
    
    background-image: url(1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 97vh;
    justify-content: center;
    align-items: center;
    display: flex;
backdrop-filter: blur(3px);

}

.glass-effect{
    width: 930px;
    height: 520px;
    background: radial-gradient(rgba(255,255,255,0.65));
    border-radius: 20px;
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.6);

    background-image: url(1.jpg);
    background-position: center;
    background-size: cover;
}

nav{
    margin-left: 30px;
    display: flex;
    align-items: center;

}



.logo{
    float: left;
    font-family: cursive;
    font-size:  35px;
    cursor: pointer;
    
}  

nav ul{
    list-style: none; 
    flex: 1;
    text-align: right;
    
    
}

nav ul li{
    padding-left: 50px;
    justify-content: left;
    display: inline;
    
}

nav ul li a{
    text-decoration: none;
    font-family: cursive;
color: #000;
transition: .2s;
}

nav ul li a:hover{
    color: #fff;
}

.img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 30px;
    margin-left: 30px;

    margin-top: 7px;
    cursor: pointer;
}

.info{
    margin-left: 30px;
}

.info p{
    color: #fff;
}

.info button{
    cursor: pointer;
    text-decoration: none;
    padding: 6px 16px;
    font-size: 18px;
    color: #fff;
    background: #000;
    border: 0;
    outline: 0;
    font-family: cursive;
    border-radius: 5px;
    transition: .2s ;
}

.info button:hover{
    background: #fff;
    color: #000;
    transform: rotate(10deg);

}

.icons{
display: flex;
margin-left: 30px;
}

.icons p{
    color: #fff;
}

.icons ul{
text-align: right;
flex: 1;
}

.icons ul li{
    list-style: none;
    display: inline;
    margin: 0 20px;
    padding: 0 20px;
}

.icons ul li i{
    text-decoration: none;
    
    font-size: 18px;
    cursor: pointer;
}

.icons ul li i:hover{
    color: #fff;

}